<div class="well titulo">
  <h1 class="mi_h1">Autos Nnodes</h1>
</div>
<form ng-submit="addCar()" class="form-inline">
  <label for="">Añadir auto: </label>
  <input type="text" class="form-control" placeholder="Marca" ng-model="marca"></input>
  <input type="text" class="form-control" placeholder="Modelo" ng-model="modelo"></input>
  <button type="submit" class="btn btn-default">Añadir</button>
</form>
<br>
<label>Lista de autos</label>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="car in cars">
    <label>Marca:</label> {{car.marca}}
    || <label>Modelo:</label> {{car.modelo}}
    || <a href="#/auto/{{car.id}}">Ver Piezas</a>
    || <a href="#/mapa/{{car.id}}">Ver ubicación</a>
  </li>
</ul>