<!DOCTYPE html>
<html ng-app="nnodestest">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Autos Nnodes</title>
    <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyBD1eEoYuPjDr7LtEYMOfASKZfF4tvms-M'></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <ui-view></ui-view>
    </div>    
  </body>
</html>